{% extends 'copper/base.html'  %}
{% load static %}
{% block content %}

  <div>

    <div class="row">

      <div class="column">
  
        <div class="column">
          <p>Give your customer human feeling touch  <span>Like Never Befor</span></p>
        </div>
          <br><br> <br> <br><br> <br> <br><br><br><br> <br><br>
          <!-- login email for demp -->
        <form class="form">
  
          <input  type="email" placeholder="name@email.com" class="mail">
  
          <input type="submit" value=" Request to demo  > "  class="red"> 
  
          <br><br><span style="text-align: center;"> <hr> <br></span> <br> <br>
  
          <i class="fa fa-google"><input type="email" placeholder=" Sign Up With Google" style="border: 1px red; width: 400px;"></i>
        <pre>No credit card required. Available on Mac , Window<br>IOS & Android</pre>
        </form>
  
      </div>
  
  <!-- Dashboard image  -->
      <div class="das">
        <a href=""><img src="{% static 'copper/images/web.jpg' %}" alt=""></a>
      </div>
    </div>
  
   <!-- ---------------------------------------  - -->
   <div class="dir">
    <div class="dir1">
    <marquee behavior="" direction=""><img src="{% static 'copper/images/an.jpg' %}" alt=""></marquee>
    </div><br>

    <div class="dir1">
      <marquee behavior="" direction=""><img src="{% static 'copper/images/an2.jpg' %}" alt=""></marquee>
      </div><br>

      <div class="dir1">
        <marquee behavior="" direction=""><img src="{% static 'copper/images/an3.jpg' %}" alt=""></marquee>
      </div><br>

        <div class="dir1">
          <marquee behavior="" direction=""><img src="{% static 'copper/images/an4.jpg' %}" alt=""></marquee>
        </div>

        <div class="dir1">
          <marquee behavior="" direction=""><img src="{% static 'copper/images/an5.jpg' %}" alt=""></marquee>
        </div>

        <div class="dir1">
          <marquee behavior="" direction=""><img src="{% static 'copper/images/an6.jpg' %}" alt=""></marquee>
        </div>

  </div> 
<!-- ---------------------------------- -->
  <section>
    <div class="work" >
      <h4>How <span style="font-weight: lighter;">It Work</span></h4>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis dolorem porro qui et ex maiores,sit praesentium iusto sapiente dolore?</p>
    </div>


    <div class="task">

      <div class="manage">
        <img src="{% static 'copper/images/download.jpeg' %}" alt="">
      </div>

      <div class="manage">
        <h4> Task <span>Management</span> </h4>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad sapiente aperiam similique debitis animi dolorem, iusto voluptatem accusamus consectetur hic!</p>

        <a href=""><input type="submit" value="view more >"></a>
      </div>
    </div>
<!-- -------------------circle----------------- -->

<div class="col">
  <p style="text-align: right; margin-top: 50px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, voluptates.<br> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae, ratione!</p>
</div>

<div class="circle">
      <div class="half-circle">
        <div class="central-circle">
          <img src="{% static 'copper/images/pc9.jpg' %}" alt="">
        </div>
  
  
        <div class="sm-circle">
          <img src="{% static 'copper/images/pc1.jpg' %}" alt="">
        </div>
  
        <div class="sm-circle">
          <img src="{% static 'copper/images/pc2.jpg' %} " alt="">
        </div>
  
        <div class="sm-circle">
          <img src="{% static 'copper/images/pc3.jpg' %}" alt="">
        </div>
  
        <div class="sm-circle">
          <img src="{% static 'copper/images/pc4.jpg' %}" alt="">
        </div>
  
        <div class="sm-circle">
          <img src="{% static 'copper/images/pc5.jpg' %}" alt="">
        </div>
  
        <div class="sm-circle">
          <img src="{% static 'copper/images/pc6.jpg' %}" alt="">
        </div>
  
        <div class="sm-circle">
          <img src="{% static 'copper/images/pc7.jpg' %}" alt="">
        </div>
  
        <div class="sm-circle">
          <img src="{% static 'copper/images/pc8.jpg' %}" alt="">
        </div>
  
      </div>

    </div>


    <div class="col">
      <p style="text-align: start; margin-top: 8%;"> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Omnis, magnam!<br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, adipisci.</p>
    </div>
  </section>

  <!-- ------------------------- -->

  <div class="grouth">
    <div class="client1">
      <h4><span>Average Yearly Growth Rate</span> Across Our Clients We Able To Achive</h4>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia totam, voluptatum commodi dolor praesentium sunt, qui hic molestias magni, numquam aspernatur vitae. Perspiciatis suscipit veniam eaque atque expedita? Totam, distinctio?</p>
      <hr>

    </div>

    <div class="client2">
      <div class="g-rate">
        <img src="{%  static 'copper/images/th3.png' %}" alt="">
        <p>Fully Secure And Hacking Free</p>
      </div><br><br>

      <div class="g-rate">
        <img src="{%  static 'copper/images/th4.png' %}" alt="">
        <p>Always Having A Great Supports</p>
      </div>
    </div>

  </div>
<!-- ==================================== -->
  <div class="grouth2">
    <div class="client3">
      <div class="exp">
        <h5 style="color: blue;">24+</h5>
        <pre>Years Of <br><br> <br><br>Experience</pre>
      </div>

      <div class="exp">
        <h5 style="color: aqua;">10M</h5>
        <pre>More Real <br><br> <br><br>Active users</pre>
      </div>

      <div class="exp">
        <h5 style="color: red;">3000M</h5>
        <pre>Employees <br><br><br> <br>Work Here</pre>
      </div>

    </div>

    <div class="client4">
      <div class="g-rate1">
        <img src="{%  static 'copper/images/th1.png' %}" alt="">
        <p>Fully Secure And Hacking Free</p>
      </div><br><br>

      <div class="g-rate1">
        <img src="{%  static 'copper/images/th2.png' %}" alt="">
        <p>Always Having A Great Supports</p>
      </div>
    </div>

  </div>

    <!--================= <!-section6==----------------------------=-->

    <div class="chart">
      <div class="work-chart">
        <img src="{%  static 'copper/images/download.jpeg' %}" alt="">
      </div>
  
      <div class="work-exp">
       <h5>Cretae an<br>Automated<br><span>By Workflow Setting</span></h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, mollitia! Numquam deleniti ullam, eos similique alias, harum vitae earum impedit corporis maiores molestiae sunt qui cumque dignissimos tenetur quaerat quidem natus iste. Officiis natus dignissimos ipsum quis, voluptate sunt? Enim?</p>
      </div>
  
    </div>
<!-- ------------------------------------ -->
    <div class="chart">
      <div class="work-chart">
        <h5>Who Are We And What Is <br>Our Identity?</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae incidunt totam ratione aliquam perspiciatis illum facere tempora quidem quam, in culpa sequi. Et placeat iste tempore nulla hic iusto ad deleniti nam, sunt inventore explicabo? Hic a et suscipit quo.</p>
        <hr>
        <ul>
          <li>Habit building in essential steps choose habit Good Things</li>
          <li>Get an overview of Habit Calendars admiral general.</li>
          <li>Start building habit with Habitify on platform to new</li>
        </ul>
      </div>
  
      <div class="work-exp">  
        <img src="{%  static 'copper/images/s6.jpg' %}" alt="">
      </div>
  
    </div>

  <!------------ -----------what -client-say ----------------->

    <div class="center">
      <h2>What Our Client Says</h2>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Beatae iste magnam pr</p>
    </div>

    <div class="our-client">
      <div class="customer">
        <img src="{%  static 'copper/images/s6.jpg' %}" alt="">
        <p style="border: 1px solid;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas ipsam quaerat odit quos<p>
      </div>

      <div class="customer">
        <img src="{%  static 'copper/images/s3.jpg' %}" alt="">
        <p style="border: 1px solid;" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas ipsam quaerat odit quos</p>
      </div>

      <div class="customer">
        <img src="{%  static 'copper/images/s4.jpg' %}" alt="">
        <p style="border: 1px solid;"  >Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas ipsam quaerat odit quos</p>
      </div>

      <div class="customer">
        <img src="{%  static 'copper/images/s5.jpg' %}" alt="">
        <p style="border: 1px solid;"  >Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas ipsam quaerat odit quos</p>
      </div>
    </div>


<!-- -------------------footer------------------ -->
  <div class="address">
    <p>Join 75,000+ Growing Business That <br> <span>Use Copper To Their Brand</span></p><br><br> <br>
    <a href=""><input  type="submit " value="Get start with us" ></a>
  </div>
  <hr>
  

  <div class="futer">
    <div class="copper">
        <h3>cupper</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque, vero!</p>
    </div>

    <div class="link">
      <h3>sociallink</h3>
      <a href=""><i class="fa fa-facebook-square" style="color: blue;">facebook</i></a><br>
      <a href=""><i class="fa fa-instagram" style="color: green;"></i></a>instagram<br>
      <a href=""><i class="fa fa-youtube-play" style="color: red;"></i>Youtube</a><br>
      <a href=""><i class="fa fa-whatsapp" style="color: skyblue;"></i></a>whatsapp<br>
    </div>

    <div class="scl">
        <h3>Quick-link</h3>
        <a href="">fpq</a><br>
        <a href="">Term&condition</a><br>
        <a href="">Privacy policy</a><br>
    </div>

    <div class="subc">
        <h3>Let's Subscribe your mail</h3>
        <input type="email" name="" id="" class="input" placeholder="write your mail">
        <a href="/signup/"><i class="fa fa-long-arrow-right"></i></a>
    </div>

  </div>

</div>

{% endblock content %}