{% extends 'copper/base.html'  %}
{% load static %}
{% block content %}
{% block title %}
        <title>team</title>
    {% endblock title %}
<div style="background-color: whitesmoke;">
    <div class="team" style=" border-radius: 5%; margin-left:40%  ; margin-right:40% ;">
        <h3>Team</h3>
        <a href="/home">Home</a>  / <span style="color: red;">Team</span>
    </div>
    <div class="mid-head">
        <h4>Our Team member's</h4>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. facere mollitia aliquam. Ut, laudantium accusantium.</p>
    </div>

<!-- ------------------button------------ -->

    <div class="button">
        <input style="background-color: red; border-radius: 5px;" type="submit"  value=" All together">
        <input style="border-radius: 5px;"  type="submit"  value=" Developers">
        <input type="submit"  value=" Disigners">
        <input type="submit"  value="Marketers">
    </div>
<!-- --------------image------ -->

<div class="pic-section">

    <div class="pic1">
        <div class="picture">
            <img src="{%  static 'copper/images/ab1.jpg' %}" alt="" srcset="">
        </div>
        <h4>Haree </h4>
        <p>Data analysist</p>
        <a href=""><i class="fa fa-linkedin"></i></a>
        <a href=""><i class="fa fa-instagram"></i></a>
        <a href=""><i class="fa fa-github" ></i></a>
        <a href=""><i class="fa fa-whatsapp" ></i></a>
    </div>

    <div class="pic2">
        <div class="picture">
            <img src="{%  static 'copper/images/ab2.jpg' %}" alt="" srcset="">
        </div>
        <h4>Rohit kumar </h4>
        <p>Data analysist</p>
        <a href=""><i class="fa fa-linkedin"></i></a>
        <a href=""><i class="fa fa-instagram"></i></a>
        <a href=""><i class="fa fa-github" ></i></a>
        <a href=""><i class="fa fa-whatsapp" ></i></a>
    </div>

    <div class="pic3">
        <div class="picture">
            <img src="{%  static 'copper/images/ab3.jpg' %}" alt="" srcset="">
        </div>
        <h4>Karan kumar </h4>
        <p>Data analysist</p>
        <a href=""><i class="fa fa-linkedin"></i></a>
        <a href=""><i class="fa fa-instagram"></i></a>
        <a href=""><i class="fa fa-github" ></i></a>
        <a href=""><i class="fa fa-whatsapp" ></i></a>
    </div> 

</div>

<div class="pic-section">

    <div class="pic1">
        <div class="picture">
            <img src="{%  static 'copper/images/ab1.jpg' %}" alt="" srcset="">
        </div>
        <h4>Vishanu Prasad </h4>
        <p>Data analysist</p>
        <a href=""><i class="fa fa-linkedin"></i></a>
        <a href=""><i class="fa fa-instagram"></i></a>
        <a href=""><i class="fa fa-github" ></i></a>
        <a href=""><i class="fa fa-whatsapp" ></i></a>

    </div>

    <div class="pic2">
        <div class="picture">
            <img src="{%  static 'copper/images/ab2.jpg' %}" alt="" srcset="">
        </div>
        <h4>Raju kumar </h4>
        <p>Data analysist</p>
        <a href=""><i class="fa fa-linkedin"></i></a>
        <a href=""><i class="fa fa-instagram"></i></a>
        <a href=""><i class="fa fa-github" ></i></a>
        <a href=""><i class="fa fa-whatsapp" ></i></a>
    </div>

    <div class="pic3">
        <div class="picture">
            <img src="{%  static 'copper/images/ab3.jpg' %}" alt="" srcset="">
        </div>
        <h4>Vidya Roy </h4>
        <p>Data analysist</p>
        <a href=""><i class="fa fa-linkedin"></i></a>
        <a href=""><i class="fa fa-instagram"></i></a>
        <a href=""><i class="fa fa-github" ></i></a>
        <a href=""><i class="fa fa-whatsapp" ></i></a>
    </div> 

</div>
    <!-- -----footere------------------------->
    <div class="address">
        <p>Join 75,000+ Growing Business That <br> <span>Use Copper To Their Brand</span></p><br><br> <br>
        <a href=""><input  type="button " value="Get start with us" ></a>
    </div>
    <hr>


        <div class="futoor">
                <div class="copper">
                    <h3>cupper</h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque, vero!</p>
                </div>
        
                <div class="link">
                    <h3>sociallink</h3>
                    <a href=""><i class="fa fa-facebook-square" style="color: blue;">facebook</i></a><br>
                    <a href=""><i class="fa fa-instagram"  style="color:rgba(red, green, blue, alpha);"></i></a>instagram<br>
                    <a href=""><i class="fa fa-youtube-play" style="color: #ff0000;"></i>Youtube</a><br>
                    <a href=""><i class="fa fa-whatsapp" style="color:green;"></i></a>whatsapp<br>
                </div>
        
                <div class="scl">
                    <h3>Quick-link</h3>
                    <a href="">fpq</a><br>
                    <a href="">Term&condition</a><br>
                    <a href="">Privacy policy</a><br>
                </div>
        
                <div class="subc">
                    <h3>Let's Subscribe your mail</h3>
                    <input type="email" name="" id="" placeholder="write your mail">
                    <a href=""><i class="fa fa-long-arrow-right"></i></a>
                </div>
        
        </div>
        
</div>
{% endblock %}